/* ==============
	VARIABLES
============== */

:root {
	--line-width: 2px;

	--menu-vertical-margin: 20px;
	--container-width-widescreen: 900px;
	--menu-width-widescreen: 200px;
	--container-gap-widescreen: 20px;
	--menu-gap-widescreen: var(--container-gap-widescreen);
	--content-width-widescreen: calc(var(--container-width-widescreen) - var(--menu-width-widescreen) - 2 * var(--container-gap-widescreen) - var(--menu-gap-widescreen));
}



/* ==========
	FONTS
========== */

@font-face {
	font-family: Comfortaa;
	font-weight: normal;
	font-style: normal;
	font-display: swap;
	src: url("./fonts/Comfortaa.woff2?v=2023-10-18") format("woff2");
}



/* =============
	SETTINGS
============= */

/* THEMES */
[data-theme="light"] {
	--fore-colour: #222;
	--back-colour: #fff;
	--warning-highlight-colour: #fcc;
	--cold-highlight-colour: #ccf;
	--warning-detail-colour: #a00;
	--cold-detail-colour: #44f;
	--visited-link-colour: #838;
	--code-back-colour: #ccc;

	--logo-shadow-colour: var(--fore-colour);
	--logo-flame-colour: #f60;
	--logo-arch-glow-colour: #310;
}
[data-theme="dark"] {
	--fore-colour: #eee;
	--back-colour: #222;
	--warning-highlight-colour: #733;
	--cold-highlight-colour: #449;
	--warning-detail-colour: #e99;
	--cold-detail-colour: #aaf;
	--visited-link-colour: #c8c;
	--code-back-colour: #4f4f4f;

	--logo-shadow-colour: var(--back-colour);
	--logo-flame-colour: #f60;
	--logo-arch-glow-colour: #0000;
	#svg-logo-arch-background {
		display: none;
	}
}

/* ITALICS */
[data-italics="punctuated"] em {
	font-style: normal;
	&::before, &::after {
		content: "*";
	}
}

/* LINE HEIGHT */
[data-lines="normal"] {
	--body-line-height: 1.4;
}
[data-lines="tall"] {
	--body-line-height: 1.7;
}



/* ============
	UTILITY
============ */

.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(100%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}



/* ==============
	STRUCTURE
============== */

*,
::before,
::after {
	box-sizing: border-box;
}
body {
	margin: 0;
	font-size: 1.1em;
	line-height: var(--body-line-height);
	font-family: sans-serif;
	color: var(--fore-colour);
	background-color: var(--back-colour);
}
#skip-link {
	position: absolute;
	top: 0;
	left: 0;
	color: var(--back-colour);
	background-color: var(--fore-colour);
	transform: translateY(-100%);
	transition: transform 1s ease-out;
	&:focus {
		transform: translateY(0%);
		transition: transform 0.1s ease-in;
	}
}
#container {
	max-inline-size: 100%;
	margin-block-end: var(--menu-vertical-margin);
	padding-inline: 0.5em;
}
#sidebar {
	margin-block-end: 2em;
}



/* =========
	LOGO
========= */

#logo {
	width: 33%;
	display: block;
	margin-block: 0.5em;
	margin-inline: auto;
	fill-rule: evenodd;
	fill: var(--fore-colour);
}
#logo-shadow-strong-colour {
	stop-color: var(--logo-shadow-colour);
}
#logo-shadow-fade-colour {
	stop-color: #0000;
}
#logo-arch-background {
	fill: var(--logo-arch-glow-colour);
}
#logo-flame {
	fill: #f60;
}
#logo-arch-glow {
	fill: var(--cold-highlight-colour);
}



/* =============
	SETTINGS
============= */

#sidebar {
	h2 {
		margin-block-end: 0.2em;
		font-size: 1em;
	}
	ul {
		display: flex;
		flex-direction: column;
		margin-block: 0;
		list-style-type: none;
	}
	& > ul {
		gap: 1em;
		padding-inline-start: 0;
		ul {
			gap: var(--line-width);
			padding-inline-start: 0.5em;
		}
	}
}



/* ============
	NAV/TOC
============ */

a[rel="index"]::before {
	content: "\2190"; /* left arrow */
	display: inline-block;
	padding-inline-end: 1ch;
	text-decoration: none;
}
nav {
	ol {
		padding-inline-start: 0;
		list-style-type: none;
	}
	li > ol {
		margin-inline-start: 1em;
	}
	a {
		text-decoration-line: none;
		&:hover {
			text-decoration-line: underline;
		}
	}
	img {
		inline-size: unset;
	}
}
#contents {
	margin-inline-start: 0;
	& > :not(:last-child) {
		margin-block-end: 1em;
	}
	& > li > :not([aria-current="page"]) + ol {
		display: none;
	}
}
[aria-current="page"] {
	color: var(--back-colour);
	background-color: var(--cold-detail-colour);
	&:visited {
		color: var(--back-colour);
		background-color: var(--visited-link-colour);
	}
}



/* =============
	ARTICLES
============= */

article,
article:target ~ :last-child,
article:has(:target) ~ :last-child {
	display: none;
}
article:last-child,
article:target,
article:has(:target) {
	display: block;
}




/* =============
	HEADINGS
============= */

h1 {
	margin-block: 0;
	padding-block-end: 1em;
	text-align: center;
}
h1, h2, h3 {
	font-weight: normal;
	font-family: Comfortaa, sans-serif;
	letter-spacing: 0.05em;
}
h2, h3 {
	border-block-end-width: 0.08em;
	border-block-end-style: solid;
	border-block-end-color: var(--fore-colour);
}
h2 {
	margin-block-start: 0;
	margin-block-end: 0.4em;
	line-height: 1.25;
}
h3 {
	margin-block-start: 3em;
	margin-block-end: 0.2em;
	line-height: 1.15;
}
h4 {
	margin-block-end: 0;
}
:is(h2, h3, h4) + * {
	margin-block-start: 0;
}



/* ==============
	BODY TEXT
============== */

a {
	color: var(--cold-detail-colour);
	text-decoration-thickness: 0.1em;
	&:visited {
		color: var(--visited-link-colour);
	}
}
abbr[title] {
	cursor: help;
}
cite, i, var, dfn, address {
	font-style: inherit;
}
.uppercase {
	text-transform: uppercase;
}
mark {
	color: var(--back-colour);
	background-color: var(--cold-detail-colour);
}

/* LISTS */
.card-list, .gallery {
	display: grid;
	padding-inline-start: 0;
	gap: 0.5em;
	list-style-type: none;
}
.gallery {
	grid-template-columns: repeat(2, 1fr);
	text-align: center;
}
:is(.card-list, .gallery) > li {
	& > :first-child {
		margin-block-start: 0;
	}
	& > :last-child {
		margin-block-end: 0;
	}
}
:is(ol, ul) > ::marker {
	font: inherit;
}
.flex-list {
	display: flex;
	flex-wrap: wrap;
	margin-block: 1em;
	padding-inline-start: 0;
	list-style-type: none;
	align-items: center;
	justify-content: center;
	gap: 1em;
}
.keys-values {
	& > dt {
		font-weight: bold;
		&::after {
			content: ":\00a0";
		}
	}
	& > dd {
		margin-inline-start: 0;
	}
}
.questions-answers dt {
	margin-block: 0.5em;
}

/* CODE */
code {
	user-select: all;
}
code, :not(kbd) > kbd, samp {
	padding-inline: 0.2em;
	background-color: var(--code-back-colour);
}
.code-block, .samp-block {
	display: block;
	margin-block: 1em;
	background-color: var(--code-back-colour);
	tab-size: 2ch;
	overflow-x: auto;
	white-space: pre;
}

/* CALL-OUTS */
.call-out {
	padding-block: 0.3em;
	padding-inline: 0.5em;
	font-size: 0.9em;
	&::before {
		float: left;
	}
}
.warning {
	background-color: var(--warning-highlight-colour);
	&::before {
		content: "\26a0"; /* warning sign */
		margin-block-start: 0.8em;
		margin-inline-end: 0.5em;
		color: var(--warning-detail-colour);
	}
}
.info {
	background-color: var(--cold-highlight-colour);
	&::before {
		content: "\24d8"; /* circled-i info sign */
		margin-inline-end: 0.2em;
		font-size: 2em;
		color: var(--cold-detail-colour);
	}
}

/* BUTTONS */
button {
	font-size: inherit;
	font-family: inherit;
	color: inherit;
	background-color: unset;
	border: unset;
	cursor: pointer;
	& > * {
		pointer-events: none;
	}
	&:hover {
		background-color: var(--cold-highlight-colour);
	}
	&::before {
		padding-inline-end: 0.2em;
		line-height: 1;
		font-size: 1.3em;
		color: var(--cold-detail-colour);
	}
}
.single-choice-button-set {
	button::before {
		content: "\25cb"; /* empty circle */
	}
	[aria-pressed="true"]::before {
		content: "\25cf"; /* filled circle */
	}
}
.multi-choice-button-set {
	button::before {
		content: "\2610"; /* square */
	}
	[aria-pressed="true"]::before {
		content: "\2611"; /* checkbox */
	}
}
.button-grid {
	display: grid;
	padding-inline-start: 0;
	grid-template-columns: repeat(2, 1fr);
	list-style-type: none;
	gap: 0.5em;
	button {
		width: 100%;
		text-align: start;
	}
}



/* ==========
	MEDIA
========== */

img {
	block-size: auto;
	inline-size: 100%;
}
.sharp-image {
	image-rendering: pixelated;
}
figure {
	margin-inline: 0;
}
figcaption {
	text-align: center;
	font-size: 0.9em;
}
iframe {
	max-inline-size: 100%;
}



/* ================
	FONT GUIDES
================ */

/* GLYPH LISTS */
.glyph-list {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1em;
	text-align: center;
	dt {
		font-size: 2em;
		font-family: Demo;
		line-height: 1;
	}
	dd {
		margin-inline-start: 0;
		font-feature-settings: unset !important;
	}
}

/* FONT DEMOS */
#custom-text-font-demo-wrapper {
	font-feature-settings: "liga" 0, "kern" 0, "calt" 0;
}
#custom-text-font-demo {
	min-block-size: 5em;
	inline-size: 100%;
	margin-block-end: 1em;
	color: var(--fore-colour);
	background-color: var(--back-colour);
	border-width: 2px;
	border-style: solid;
	border-color: var(--fore-colour);
	font-size: 2em;
	font-family: Demo;
	resize: vertical;
}





/* =================
	RESPONSIVITY
================= */

/* FOR TABLET */
@media (min-width: 500px) {
	body {
		font-size: 1.2em;
	}
	.card-list {
		grid-template-columns: repeat(2, 1fr);
	}
	.keys-values {
		display: grid;
		grid-template-columns: max-content auto;
		row-gap: 0.3em;
		& > dt {
			text-align: end;
		}
	}
	.code-block {
		tab-size: 4ch;
	}
	.gallery {
		grid-template-columns: repeat(3, 1fr);
	}
}

/* FOR DESKTOP */
@media (min-width: 700px) {
	#container {
		display: grid;
		grid-template:
			"	title	title		"
			"	sidebar	articles	" / var(--menu-width-widescreen) min(var(--content-width-widescreen), calc(100vw - var(--menu-width-widescreen) - 4 * var(--container-gap-widescreen)));
		max-inline-size: var(--container-width-widescreen);
		margin-inline: auto;
		padding-inline: var(--container-gap-widescreen);
		column-gap: var(--container-gap-widescreen);;
	}
	header {
		grid-area: title;
	}
	main {
		grid-area: articles;
		margin-block-start: 0;
	}
	#sidebar {
		grid-area: sidebar;
		position: sticky;
		block-size: calc(100vh - 2 * var(--menu-vertical-margin));
		inset-block-start: var(--menu-vertical-margin);
		margin-block-end: 0;
		border-block-start: unset;
		overflow-y: auto;
	}
	.gallery {
		grid-template-columns: repeat(4, 1fr);
	}
	.button-grid {
		grid-template-columns: repeat(3, 1fr);
	}
}



/* =============
	PRINTING
============= */

@media print {
	#container {
		display: block;
	}
	nav {
		display: none;
	}
}